<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
  <head>
    <meta name = "generator" content = "WebObjects 5.0" />
    <title>Page Title</title>
  </head>
  <body bgcolor = "#FFFFFF">
    <!-- Title segment -->
    <center>
      <H2>All Page Title</H2>
      <webobject name = "WABatchNavigationBar" />
    </center>
    <br />
    <!-- Table segment -->
    <table border = "1">
      <tr>
        <!-- One header cell per attribute -->
        <th>category</th>
        <th>dateReleased</th>
        <th>title</th>
        <th>revenue</th>
      </tr>
      <!-- Displayed objects segment -->
      <webobject name = "DisplayList">
        <tr>
          <td> <webobject name = "categoryItem" /> </td>
          <td> <webobject name = "dateReleasedItem" /> </td>
          <td> <webobject name = "titleItem" /> </td>
          <td> <webobject name = "revenueItem" /> </td>
        </tr>
      </webobject>
    </table>
  </body>
</html>