<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
  <head>
    <meta name = "generator" content = "WebObjects 5" />
    <title>eCards</title>
  </head>
  <body bgcolor = "#FFFFFF">
    <form>
      <table>
        <tr>
          <td>From:</td>
          <td><webobject name = "TextField1" /></td>
        </tr>
        <tr>
          <td>To:</td>
          <td><webobject name = "TextField3" /></td>
        </tr>
        <tr>
          <td>Subject:</td>
          <td><webobject name = "TextField2" /></td>
        </tr>
        <tr>
          <td>Image:</td>
          <td><webobject name = "ImagePopUpButton" /></td>
        </tr>
        <tr>
          <td colspan = "2">
            <hr />
            <webobject name = "Text1" />
          </td>
        </tr>
        <tr>
          <td colspan = "2">
            <webobject name = "SubmitButton1" />
            <webobject name = "SubmitButton2" />
            <input type = "RESET" />
          </td>
        </tr>
      </table>
    </form>
  </body>
</html>