<?xml version="1.0" encoding="utf-8"?>

<fo:root xmlns:fo="http://www.w3.org/1999/XSL/Format">


  <!-- defines the layout master -->
  <fo:layout-master-set>
    <fo:simple-page-master master-name="first" 
                           page-height="29.7cm" 
                           page-width="21cm" 
                           margin-top="1cm" 
                           margin-bottom="2cm" 
                           margin-left="2.5cm" 
                           margin-right="2.5cm">
      <fo:region-body margin-top="3cm"/>
      <fo:region-before extent="3cm"/>
      <fo:region-after extent="1.5cm"/>
    </fo:simple-page-master>
  </fo:layout-master-set>

  <!-- starts actual layout -->
  <fo:page-sequence master-reference="first">

  <fo:flow flow-name="xsl-region-body">

      <!-- this defines a title level 1-->
   <fo:block id="sec0"
             text-align="left" 
             font-family="Helvetica"
             font-weight="bold" 
             font-size="18pt" 
             color="#0050B2" space-after.optimum="6pt">
        Topic: <webobject name=Topic></webobject>
   </fo:block>

<webobject name=PostRepetition>
    <!-- post made by, date, etc...-->
   <fo:block font-family="Helvetica"
             font-weight="bold" 
             space-after.optimum="6pt" 
             space-before.optimum="11pt" >
     <webobject name=Username></webobject> @ <webobject name=Date></webobject>
   </fo:block>

    <!-- post text -->
   <fo:block space-after.optimum="6pt">
     <webobject name=Message></webobject>
   </fo:block>

</webobject>

    </fo:flow>
  </fo:page-sequence>
</fo:root>