<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
  <head>
    <meta name = "generator" content = "WebObjects 5" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Untitled</title>
  </head>
  <body bgcolor = "#FFFFFF">
    <webobject name = "Form1">
      <table>
        <tr>
          <td>From:</td>
          <td><webobject name = "TextField1" /></td>
        </tr>
        <tr>
          <td>Subject:</td>
          <td><webobject name = "TextField2" /></td>
        </tr>
        <tr>
          <td colspan = "2">
            <hr />
            <webobject name = "Text1" />
          </td>
        </tr>
        <tr>
          <td colspan = "2">
            <input type = "SUBMIT" value = "Send" />
            <input type = "RESET" />
          </td>
        </tr>
      </table>
    </webobject>
  </body>
</html>